# CoaTran executables
coatran_constant
coatran_constant_debug
coatran_expgrowth
coatran_expgrowth_debug
coatran_inftime
coatran_inftime_debug
coatran_transtree
coatran_transtree_debug

# Output Trees
*.nwk
*.tre

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
